body {
	margin: 0;
}

.wrapper-div{
	text-align: center;
}

#selector-panel label {
	display: inline-block;
	background-color: #ddd;
	padding: 4px 11px;
	font-family: Arial;
	font-size: 16px;
	cursor: pointer;
}
#selector-panel input {
	display: none;
	width: 100%;
 }
#selector-panel input:checked+label {
	background-color: #aaa;
}

#plot {
	width: 100%;
}
